*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 05%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 90px;
}
@media screen and (max-width: 550px) {
    nav .logo{width: 35px;}
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
@media screen and (max-width: 550px) {
    nav ul li{
        margin-left: 0;
        list-style: none;
        display: inline-block;
    }
    
}
nav ul li a{
    text-decoration: none;
    color: #916A4A;
    font-size: 25px;
 }

 @media screen and (max-width: 550px){
    nav ul li a{
        text-decoration: none;
        color: #916A4A;
        font-size: 12px;}
 }
.content{
    text-align: center;
    justify-content: center;
}
.content h1{
    font-size: 150px;
    color: #916A4A;
    font-weight: 600;
    justify-content: center;

}
@media screen and (max-width: 550px){
    .content h1{
        font-size: 80px;
        color: #916A4A;
        font-weight: 600;
        justify-content: center;
    
    }
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #916A4A;
    font-size: 30px;
    border: 2px solid #916A4A;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.background{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}





















